
//Fonts
$body:		var(--kind-font-family-base);
$heading:	var(--kind-font-family-headings);
$mono:		"Lucida Sans Typewriter", "Lucida Console", Monaco, monospace !default;


//Break points
$one:					480px !default; //small
$two:					800px !default; //medium
$three:					1104px !default; //large


//Page layout
$full_cont:				1104px !default;
$page_cont:				720px !default;
$col:					40px !default;
$gut:					40px !default;


//Baseline
$base:					26px !default;
$inpage-margin-base:	26px !default;


//Header element sizes 
$height_gap : 34px; 

$logo_small_h : 42px; //size of logo icon for mobile version
$logo_small_w : 42px; 

$logo_full_w : 66px; //size of logo icon for desktop version
$logo_full_h : 66px;

$mobile_height : $logo_small_h + $height_gap; //full header height on mobile
$full_height   : $logo_full_h + $height_gap; //full header height on desktop

$fonts_path: 'assets/fonts/';


// Colors

//Color sheme
//uses CSS variables from theme settings

$color-main:                var(--kind-color-main) !default; //main accent color
$color-main-dark:           var(--kind-color-main-active) !default; //darker variant

$color-page-bg:             var(--kind-page-bg-color) !default; //main bg color
$color-page-bg-dark:        var(--kind-page-bg-color-dark) !default; //for borders

$color-text:                var(--kind-color-base) !default; //main page text
$color-text-light:          var(--kind-page-text-color-light) !default; //text lighter than main one

//Scheme independent colors
$color-ok :             #1db318; // ok messages

:root {
	--kind-color-white: #ffffff;
	--kind-color-black: #000000;
	--kind-color-light-grey: #f7f8f8;
	--kind-color-light-blue: #f5fafe;

	--kind-color-main: #d30a6a;
	--kind-color-main-active: #ab0957;

	--kind-page-bg-color: #ffffff;
	--kind-page-bg-color-dark: #cccccc;
	--kind-page-text-color-light: #e7ffff;
	--kind-header-background: #ffffff;

	--kind-color-base: #4d606a;
	--kind-font-family-base: "Raleway", Arial, sans-serif;
	--kind-font-weight-base: 500;
	--kind-font-size-base: 18px;
	--kind-font-style-base: normal;

	--kind-color-headings: #183343;
	--kind-font-family-headings: "Raleway", Arial, sans-serif;
	--kind-font-weight-headings: 700;
	--kind-font-style-headings: normal;

	--kind-font-size-menu: 18px;

	--kind-completed-project-color: #4d606a;
	--kind-completed-project-opacity: 0.8;

	--kind-header-height: 124px;
	--kind-font-family-button: var(--kind-font-family-base);
	--kind-button-border-radius: .5em;
	--kind-image-border-radius: 8px;

	--kind-content-width: 720px;
	--kind-medium-content-width: 1200px; // 1080px

	--kind-block-link-color: var(--kind-color-main);

	--kind-color-logo: #183343;
	--kind-color-logo-desc: #4d606a;
	--kind-font-family-logo: var(--kind-font-family-headings);

	--kind-color-menu: #4d606a;
	--kind-color-menu-hover: #dd1400;

	--kind-footer-background: #f7f8f8;
	--kind-footer-heading-color: #183343;
	--kind-footer-color: #4d606a;
	--kind-footer-link-color: #dd1400;
	--kind-footer-link-color-hover: #c81303;

	--kind-adminbar-height: 32px;

	--scroll-bar-width: 15px;
}

@media (max-width: 782px){
	body {
		--kind-adminbar-height: 46px;
	}
}

.kind-footer {
	--kind-color-logo: #183343;
	--kind-color-logo-desc: #4d606a;
	--kind-footersocial-color: #183343;
	--kind-footersocial-color-hover: #4d606a;
}
